.button {
    border: 0;
    border-radius: 5px;

    width: 316px;
    height: 37px;
    margin: auto;

    color: #fff;
    font-size: 16px;
    line-height: 21px;
    background-color: #111E6C;

    cursor: pointer;
}