/* (공통 CSS) radio button 커스터마이징 */
.radio-wrapper input[type='radio'] {
    display: none; /* radio button 디폴트 디자인 제거 */
}

.radio-wrapper input[type='radio']:checked + label { /* 버튼 클릭시 */
    background-color: #111E6C;
    border-color: #111E6C;
    color: #fff;
}

/* 모든 라디오 버튼 공통 CSS */
.radio-wrapper label {
    border: 1px solid #000;
    border-radius: 9px;
    transition: all 0.2s;

    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.radio-wrapper label:hover {
    color: #777777;
    border-color: #777777;
}

.title {
    font-size: 25px;
    font-weight: bold;
}

.subtitle {
    font-size: 12px;
    font-weight: bold;
}